APP_DEBUG = falseSHOW_ERROR_MSG = false[APP]DEFAULT_TIMEZONE = Asia/Shanghai[DATABASE]TYPE = mysqlHOSTNAME = 127.0.0.1DATABASE = base_adminUSERNAME = rootPASSWORD = 123456HOSTPORT = 3306CHARSET = utf8mb4DEBUG = true[LANG]default_lang = zh-cnREDIS_HOST = 127.0.0.1REDIS_PREFIX = asuma:REDIS_PASSWORD =FILE_ROOT_PATH = .FILE_UPLOAD_PATH = /uploadsUEDITOR_UPLOAD_PATH = /uploads