/*** asuma 定制主题css ***/

.layadmin-side-shrink .layui-layout-admin .layui-logo{width: 60px;background-image:url(../images/logo.png);}
.layui-btn{border-radius:3px;}
.layui-btn-radius{border-radius:100px;}
.layui-laypage-em{border-radius:3px;}
.layui-label-asuma{width: auto;}
.asuma-form-item label{width: 60px;}

/*主题色*/
.layui-nav-tree .layui-this, .layui-nav-tree .layui-this > a, .layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-nav-child dd.layui-this a{background-color:#F78400 !important;}
.layui-nav-tree .layui-nav-bar{background-color:#F78400;}
.layui-laypage .layui-laypage-curr .layui-laypage-em{background-color:#3a88fd;}
.layui-elem-quote{border-left-color: #3a88fd;}

/*按钮色*/
.layui-btn-asuma{background-color:#3a88fd;}
.layui-btn-primary:hover{border-color:#3a88fd;}
/*链接色*/
.layadmin-link{color:#3a88fd !important;}

/*选中色*/
.layui-form-checked[lay-skin="primary"] i{border-color:#FAB436 !important;background-color:#FAB436;}
.layui-form-checkbox[lay-skin="primary"]:hover i{border-color:#FAB436;}
.layui-form-select dl dd.layui-this{background-color:#FAB436;}
.layui-form-radio > i:hover, .layui-form-radioed > i{color:#FAB436;}
.layui-form-onswitch{border-color:#FAB436;background-color:#FAB436;}
.layui-form-checked span, .layui-form-checked:hover span{background-color:#FAB436;}
.layui-form-checkbox[lay-skin="primary"] span{background: 0 0;}
.layui-form-checked i, .layui-form-checked:hover i{color:#FAB436;}

/*layer*/
.asuma-layer .layui-layer-btn0{background-color:#3a88fd;border-color:#3a88fd;}

/*error 页*/
.error-tips{margin-top:100px;}
.layadmin-tips .layui-text{border-top:4px solid #747883;}
.layadmin-tips .layui-icon[face]{color: #747883;}

/*导入container*/
.asuma-btn-container-excel{font-size: 14px}
.asuma-btn-container-excel .layui-btn{margin-bottom: 0}
.asuma-btn-container-excel>button:first-child{background-color: #F78400;}

.layui-side-menu .layui-nav .layui-nav-item .fa{position: absolute;left: 20px;top: 40%;}