{extend name="public/base" /}
{block name="title"}申请退货退款{/block}
{block name="content"}
<div class="pb11">
<div class="geren-daifukuan-detail-thr">
    <div class="geren-daifukuan-box">
        <div class="geren-daifukuan-content tl fs0">
            <div>
                <img src="__MOD__/shop/images/touxiang.jpg" alt />
            </div>
            <div class="geren-daifukuan-content-word">
                <div class="fs14 cl33">置物架</div>
                <div class="fs12 cl66 mt10 over2">xiangqng置物架置物架置物架置物架置物架置物架置物架置物架置物架置物架</div>
            </div>
            <div class="geren-daifukuan-content-pri">
                <div>
                    <span class="fs10 cl33">¥</span>
                    <span class="fs14 cl33">19.0</span>
                </div>
                <div>
                    <span class="fs12 cl66">x</span>
                    <span class="fs12 cl66">1</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="geren-jintk-box mt5" id="tuikuanway">
    <div class="geren-jintk-box-left">
        <div class="fs14 ls10 cl33">退货方式</div>
    </div>
    <div class="geren-qingxuanze">
        <input type="text" value placeholder="请选择" readonly />
        <img src="__MOD__/shop/images/right.png" alt class="geren-jintk-box-right" />
    </div>
</div>
<div class="geren-daifukuan-detail-sec borbot fs0">
    <div>
        <img src="__MOD__/shop/images/marker-b.png" alt class="geren-daifukuan-detail-sec-img" />
    </div>
    <div class="geren-daifukuan-detail-sec-word">
    	<div class="fs14 clbb">退货地址</div>
        <div class="fs14 cl33">
        	
            <span>收货人：<span>小明</span></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <span>电话：<span>13458796512</span></span>
        </div>
        <div class="fs14 cl33 mt10">
            地址：<span class="over">江苏矮袋鼠</span>
        </div>
    </div>
</div>
<div class="geren-jintk-box" id="huowustate">
    <div class="geren-jintk-box-left">
        <div class="fs14 ls10 cl33">货物状态</div>
    </div>
    <div class="geren-qingxuanze">
        <input type="text" value placeholder="请选择" readonly />
        <img src="__MOD__/shop/images/right.png" alt class="geren-jintk-box-right" />
    </div>
</div>
<div class="geren-jintk-box" id="huowures">
    <div class="geren-jintk-box-left">
        <div class="fs14 ls10 cl33">退款原因</div>
    </div>
    <div class="geren-qingxuanze">
        <input type="text" value placeholder="请选择" readonly />
        <img src="__MOD__/shop/images/right.png" alt class="geren-jintk-box-right" />
    </div>
</div>
<div class="geren-jintk-box">
    <div class="geren-jintk-box-left">
        <div class="fs14 ls10 cl33">退款金额</div>
    </div>
    <div class="geren-jintk-box-left-one">
        <span class="fs10 ls10 cloy fwb">¥</span>
        <span class="fs12 ls10 cloy fwb">58.0</span>
    </div>
</div>
<div class="geren-jintk-box" id="tuiKuanYuanyin">
    <div class="geren-jintk-box-left-two">
        <div class="fs14 ls10 cl33">退款原因</div>
    </div>
    <div class="geren-jintk-box-left-two-ipt">
        <input type="text" placeholder="选填" />
    </div>
</div>
<div class="geren-pingjia-three">
    <div class="fs0 geren-pingjia-three-imgbox">
        <img src="__MOD__/shop/images/upload.png" alt class="upload-img" />
    </div>
    <div class="fs0 tl geren-pingjia-three-right ml10" v-show="fileList.length===0">
        <div class="fs15 cl33 ls10">上传凭证</div>
        <div class="fs12 ls10 clb4 mt10">（最多上传6张）</div>
    </div>
</div>
</div>
<div class="sqtuikuan-sub-box ">
    <div class="sqtuikuan-sub tc">提交</div>
</div>
<!-- 货物状态 -->
<div class="sqtk-state layui-form">
    <div class="radio-state-box">
        <div class="layui-form-item mt35">
            <div class="dfbs">
                <div class="tc dfbtc">
                    <div class="fs14 cl33">未收货</div>
                    <img src="__MOD__/shop/images/select.png" alt="" class="pl10">
                </div>
                <div class="tc dfbtc">
                    <div class="fs14 cl33">已收货</div>
                    <img src="__MOD__/shop/images/selected.png" alt="" class="pl10">
                </div>
            </div>
        </div>
        <div class="sqbtn " id="tkzttn">确定</div>
    </div>
</div>
<!-- 选择退款类型 -->
<div class="sqtk-shouhuo">
    <div class="radio-box">
        <div class="mt35">
            <div class="dfbs">
                <div class="tc dfbtc">
                    <div class="fs14 cl33">仅退款</div>
                    <img src="__MOD__/shop/images/selected.png" alt="" class="pl10">
                </div>
                <div class="tc dfbtc">
                    <div class="fs14 cl33">退货退款</div>
                    <img src="__MOD__/shop/images/select.png" alt="" class="pl10">
                </div>
            </div>
        </div>
        <div class="sqbtn " id="tksbtn">确定</div>
    </div>
</div>
<!-- 退款原因 -->
<div class="sqtk-res layui-form">
    <div class="radio-res-box">
        <div class="">

            <div class="sqtk-res-content">
                <div class="fs14 fwb cl33 tc">退款原因</div>
                <div class="tl sqtk-res-content-item">
                    <div class="fs14 cl33">拍错/效果不好</div>
                    <img src="__MOD__/shop/images/selected.png" alt="">
                </div>
                <div class="tl sqtk-res-content-item">
                    <div class="fs14 cl33">质量问题</div>
                    <img src="__MOD__/shop/images/select.png" alt="" class="">
                </div>
                <div class="tl sqtk-res-content-item">
                    <div class="fs14 cl33">卖家发错货</div>
                    <img src="__MOD__/shop/images/select.png" alt="">
                </div>
                <div class="tl sqtk-res-content-item">
                    <div class="fs14 cl33">收到商品破损/污渍等</div>
                    <img src="__MOD__/shop/images/select.png" alt="">
                </div>
                <div class="tl sqtk-res-content-item">
                    <div class="fs14 cl33">材质与商品描述不符</div>
                    <img src="__MOD__/shop/images/select.png" alt="">
                </div>
                <div class="tl sqtk-res-content-item">
                    <div class="fs14 cl33">和预期不符</div>
                    <img src="__MOD__/shop/images/select.png" alt="">
                </div>
                <div class="tl sqtk-res-content-item">
                    <div class="fs14 cl33">其他</div>
                    <img src="__MOD__/shop/images/select.png" alt="">
                </div>
            </div>
        </div>
        <div class="sqbtn" id="tkresbtn">确定</div>
    </div>
</div>
{/block}
{block name="footjs"}

{/block}