.add-box-item {
    display: flex;
}

.add-box-item-thead {
    display: flex;
    padding: 8px;
    box-sizing: border-box;
    align-items: center;
    height: 50px;
    line-height: 50px;
    border: 1px solid #e6e6e6;
}

.add-box-item-thead input {
    width: 80px;
    border: none;
    outline: none;
}

.add-box-item {
    margin-bottom: 10px;
}
.add-box-item:last-child{
    margin-bottom: 20px;
}

.add-box-item img {
    width: 20px;
    height: 20px;
}

.add-box-item img,
.add-box-item i {
    cursor: pointer;
}

.add-box-item-th-box {
    display: flex;
    align-items: center;
}

.add-box-item-th {
    margin-left: 20px;
    box-sizing: border-box;
    min-height: 50px;
    max-width: 900px;
}

.bp {
    padding: 8px;
    padding-bottom: 0px;
    border: 1px solid #e6e6e6;
}

.add-box-item-th-item {
    display: flex;
    align-items: center;
    margin-right: 10px;
    border: 1px solid #f5f5f5;
    float: left;
    margin-bottom: 8px;
    height: 30px;
}

.add-th {
    margin-left: 20px;
}

.add-box-item-th input {
    width: 60px;
    border: none;
    outline: none;
    padding-left: 10px;
}

.table-btn {
    display: flex;
    align-items: flex-end;
}

.table-btn button {
    height: 20px;
    width: 40px;
    font-size: 10px;
    line-height: 0px;
    background: #f5f5f5;
    padding: 0px;
    color: #333333;
    outline: none;
    border: none;
    cursor: pointer;
}

.layui-table-cell {
    height: 40px;
    line-height: 40px;
}

.table-imgbox img {
    width: 40px;
    height: 40px;
}

.ml20 {
    margin-left: 20px;
}

.mb20 {
    margin-bottom: 20px;
}
.layui-icon-edit,.layui-icon-close{
    font-size: 22px;
    color: #928C8C;
}

.add-box-item-th div:last-child{
    margin-right: 0px;
}
.table-box{
    min-height: 200px;
    padding: 5px;
    border: 1px solid #e6e6e6;
}
.freight-line{
    display: none;
    float: right !important;
}
.freight-inp{
    display: inline-block;width: 60px;
}
.up-img img{
    width: 30px;
    height: 30px;
    margin-right: 6px;
}
.edit-input{
    height: 30px;
    width: 65px;
}

.box {
/*    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 830px;
    height: 600px;
    border-radius: 10px;*/
    display: flex;
/*    align-items: center;
    justify-content: space-between;
    align-items: center;*/
    margin: 20px;
}

.box1 {
    width: 520px;
    height: 500px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    box-shadow: 2px 3px 8px 0px rgba(105, 105, 105, 0.1);
}

.box1-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #e6e6e6;
}

.box1-content {
    width: 100%;
    height: 400px;
    box-sizing: border-box;
    padding: 20px 0px 10px 10px;
    overflow: auto;
    font-size: 0;
}

.box1-image-item {
    display: inline-block;
    margin: 0px 20px 20px 0px;
}

.box1-image-item-content {
    width: 100px;
    height: 100px;
    position: relative;
}

.box1-image-item-content img {
    width: 100%;
    height: 100%;
    margin: 0px 20px 20px 0px;
    object-fit: scale-down;
}

.i-top {
    position: absolute;
    right: -10px;
    top: -10px;
    color: #fff;
    width: 20px;
    height: 20px;
    background: #FF5722;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.i-bot {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #fff;
    text-align: center;
    border-radius: 9px;
    cursor: pointer;
}

.box1-bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 60px;
    padding: 0px 20px 0px 10px;
}

.bcb {
    color: #1E9FFF;
}

.box2 {
    width: 260px;
    height: 500px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    box-shadow: 2px 3px 8px 0px rgba(105, 105, 105, 0.1);
    margin-left: 10px;
}
.image-box{
    padding: 20px;
    margin-top: 16px;
    height: 100px;
    border: 1px solid #e6e6e6;
}
.box1 .layui-form-mid,.box2 .layui-form-mid{line-height: 0;}
.fs16{font-size: 16px !important;}