{extend name="public/base" /}
{block name="title"}商品管理{/block}
{block name="css"}
<link rel="stylesheet" type="text/css" href="__MOD__/admin/shop/goods.css">
{/block}
{block name="content"}
<div class="layui-fluid">
<div class="layui-row layui-col-space15">
  <div class="layui-col-md12">
    <div class="layui-card" style="width: 1200px">
      <div class="layui-card-header">添加商品</div>
      <div class="layui-card-body" pad15>
        <form class="layui-form">
          <div class="layui-form-item">
            <label class="layui-form-label">商品名称</label>
            <div class="layui-input-block">
              <input type="text" name="goods_name" value="" lay-verify="required" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">商品分类</label>
            <div class="layui-input-block">
              <select name="classification" lay-verify="required" lay-search>
                <option value="">支持搜索</option>
                {volist name="classify" id="one"}
                <optgroup label="{$one.name}">
                  {if $one.child ?? ''}
                  {volist name="$one.child" id="two"}
                  <option value="{$two.id}">{$two.name}</option>
                  {/volist}
                  {/if}
                </optgroup>
                {/volist}
              </select>
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">商品介绍</label>
            <div class="layui-input-block">
              <input type="text" name="introduction" value="" lay-verify="required" placeholder="请输入简短的介绍" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">商品主图</label>
            <div class="layui-input-block">
              <button type="button" class="layui-btn layui-btn-asuma" id="editimg" data-type="add">上传主图</button>
              <!-- <input class="layui-btn layui-btn-asuma" type="file" id="editimg"> -->
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">商品属性</label>
            <div class="layui-input-block" style="width: 90%">
                <button type="button" class="layui-btn layui-btn-asuma mb20" id="addBigParam"><i class="layui-icon layui-icon-add-1"></i>添加参数</button>
                <div id="add-box">
                    <div class="add-box-item">
                        <div class="add-box-item-thead">
                            <input type="text" class="layui-input big_input">
                            <i class="layui-icon layui-icon-close delBig"></i>
                        </div>
                        <div class="add-box-item-th-box" style="width:90%;">
                            <div class="add-box-item-th bp" >
                                <div class="add-box-item-th-item">
                                    <input type="text" class="attr_input">
                                    <i class="layui-icon layui-icon-close delParam"></i>
                                </div>
                            </div>
                            <button type="button" class="layui-btn layui-btn-primary ml20 addLteParam">添加</button>
                        </div>
                    </div>
                </div>
                <div class="table-box">

                </div>
                <input type="hidden" name="goods_attributes" value="">
                <div class="layui-form-mid layui-word-aux">点击页面任意空白处完成添加</div>
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">描述</label>
            <div class="layui-input-block">
              {include file="public/ueditor" name="description"}
            </div>
          </div>          
          
          <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">配送方式</label>
            <div class="layui-input-inline">
                <input type="radio" name="post_type" value="1" title="包邮" lay-filter="freightswt" checked >
                <input type="radio" name="post_type" value="2" title="买家承担运费" lay-filter="freightswt">
                <span class="layui-input-inline freight-line">
                  <input class="layui-input freight-inp" name="freight" lay-verify="poInt">
                  <span>元</span>
                </span>
            </div>
          </div>

          <div class="layui-form-item">
            <div class="layui-input-block">
            	<input type="hidden" name="{:config('this.form_token')}" value="{$Request.token}" />
              <button type="button" class="layui-btn layui-btn-asuma" lay-submit lay-filter="save" data-url="{:url('save')}">确认</button>
              <button type="reset" class="layui-btn layui-btn-primary">取消</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
{/block}
{block name="footjs"}
<script src="__THIRD__/compressImg/tools.js"></script>
<script src="__THIRD__/compressImg/pictureHandle.js"></script>
<script type="text/javascript">
  function bigParamHtml(){
    var len = $('.add-box-item').length
    if(len >= 5){
      layer.msg('最多只能添加5个参数')
      return false;
    }

    var _html = '<div class="add-box-item">'
                    +'<div class="add-box-item-thead">'
                        +'<input type="text" class="layui-input big_input">'
                        +'<i class="layui-icon layui-icon-close delBig"></i>'
                    +'</div>'
                    +'<div class="add-box-item-th-box">'
                        +'<div class="add-box-item-th bp">'
                            +'<div class="add-box-item-th-item">'
                                +'<input type="text" class="attr_input">'
                                +'<i class="layui-icon layui-icon-close delParam"></i>'
                            +'</div>'
                        +'</div>'
                        +'<button type="button" class="layui-btn layui-btn-primary ml20 addLteParam">添加</button>'
                    +'</div>'
                +'</div>';
    
    $('#add-box').append(_html);
  }

  function lteParamHtml(obj){
    var itemBox = obj.parent('.add-box-item-th-box').children('.add-box-item-th');
    var len = itemBox.children('.add-box-item-th-item').length
    
    if(len >= 8){
      layer.msg('最多只能添加8个属性')
      return false;
    }

    var _html = '<div class="add-box-item-th-item">'
                  +'<input type="text" class="attr_input">'
                  +'<i class="layui-icon layui-icon-close delParam"></i>'
               +'</div>';

    itemBox.append(_html);
  }

  function paramJson(){
    var father = $('.add-box-item')
    var json_data = {};
    for (var i = 0; i < father.length; i++) {
      var key = father.eq(i).children('.add-box-item-thead').children('input').val().trim();
      if(key == '') {
        continue;
      }
      json_data[key] = [];

      let children = father.eq(i).children('.add-box-item-th-box').children('.add-box-item-th').children('.add-box-item-th-item')
      children.each(function(i,v){
        let value = $(v).children('input').val().trim();
        if(value == ''){
          return true;
        }
        json_data[key].push(value)
      })
    }
    $('input[name=goods_attributes]').val(JSON.stringify(json_data))
    return json_data;
  }

  function tableHtml(data){
    var tablePre = '<table class="layui-table" lay-skin="line">'
                    +'<thead>'
                      +'<tr>';
    var thead    =     '';
    var tableMid =     '</tr>'
                    +'</thead>'
                    +'<tbody>'
                      +'<tr>';
    var tbody    =     '';
    var tableEnd =     '</tr>';
                    +'</tbody>'
                  +'</table>';

    var preData = []
    $.each(data, function(i, v){
      thead += '<th>'+i+'</th>'
      preData.push(v)
    })
    thead += '<th>展示图</th><th>库存</th><th>价格</th>'

    var madingData = calcDescartes(preData);
    
    if(madingData[0] instanceof Array){
      $.each(madingData, function(i, v){
        tbody += '<tr>';
        for (var i = 0; i < v.length; i++) {
          tbody += '<td>'+v[i]+'</td>';
        }
        tbody += '<td></td><td></td><td></td></tr>';
      })
    }else{
        for (var i = 0; i < madingData.length; i++) {
          tbody += '<tr><td>'+madingData[i]+'</td><td></td><td></td><td></td></tr>';
        }
    }

    return tablePre + thead + tableMid + tbody + tableEnd;
  }

/*
* 笛卡尔积算法
*/
function calcDescartes (array) {
    if (array.length < 2) return array[0] || [];
    return [].reduce.call(array, function (col, set) {
        var res = [];
        col.forEach(function (c) {
            set.forEach(function (s) {
                var t = [].concat(Array.isArray(c) ? c : [c]);
                t.push(s);
                res.push(t);
            })
        });
        return res;
    });
}

</script>
<script type="text/javascript">
layui.config({
  base: '__JS__/layuiext/'
}).extend({
  numinput: 'numinput/numinput'
  ,croppers: 'cropper/croppers'
}).use(['form', 'croppers'], function() {
  var form = layui.form
  ,croppers = layui.croppers;

  croppers.render({
      elem: '#editimg'
      ,saveW:150     //保存宽度
      ,saveH:150
      ,mark:1/1    //选取比例
      ,area:'900px'  //弹窗宽度
      ,url: "upload/uploadImg"  //图片上传接口返回和（layui 的upload 模块）返回的JOSN一样
      ,done: function(url){ //上传完毕回调
          $("#inputimgurl").val(url);
          $("#srcimgurl").attr('src',url);
      }
  });

  // $('#editimg').pictureHandle(function(e){
  //   console.log(e)
  //   if(e.status == false){
  //       footer_tip(e.tip)
  //   }else{
  //       $('#upload_img').parent('li').before(listr(e.src));
  //       if($('.upload-box').children('li').length > 3){
  //           $('.upload-box').children('li:last-child').hide();
  //       }
  //   }
  // })

  /*** 属性操作区域方法 ***/

  $('#addBigParam').on('click', function(){
      var f_obj = $('.add-box-item').find('.add-box-item-thead')
      var f_return = false;
      $.each(f_obj, function(i, v){
        if($(v).children('input').val() == ''){
          f_return = true;
          return false;
        }
      })
      if(f_return == true){
        layer.msg('请先完善已有的参数')
        return false;
      }

      var c_obj = $('.add-box-item').find('.add-box-item-th-item')
      var c_return = false;
      $.each(c_obj, function(i, v){
        if($(v).children('input').val() == ''){
          c_return = true;
          return false;
        }
      })

      if(c_return == true){
        layer.msg('请先完善已有的参数的属性')
        return false;
      }

      bigParamHtml();
  })

  $(document).on('click', '.delBig', function(){
    var _this = $(this)
    var len = $('.add-box-item').length

    if(len <= 1){
      layer.msg('至少保留1个参数')
      return false;
    }

    _this.parents('.add-box-item').remove()

    let json_data = paramJson();
    let _table = tableHtml(json_data);
    $('.table-box').html(_table)
  })

  $(document).on('blur', '.big_input', function(){
    
    if($(this).val() == '' || $(this).val() == null){
      return false;
    }

    var obj = $(this).parents('.add-box-item').find('.add-box-item-th')
    let child_value = obj.children('.add-box-item-th-item').eq(0).children('input').val()

    if(child_value == '' || child_value == null){
      return false;
    }

    let json_data = paramJson();
    let _table = tableHtml(json_data);
    $('.table-box').html(_table)
  })

  $(document).on('click', '.addLteParam', function(){
      var _this = $(this)
      var f_value = _this.parents('.add-box-item').children('.add-box-item-thead').find('input').val()
      if(f_value == '' || f_value == null){
        layer.msg('请先完善当前的参数名称')
        return false;
      }

      // var childObj = $(this).parent('.add-box-item-th-box').find('.add-box-item-th-item')
      // var isReturn = false;
      // $.each(childObj, function(i, v){
      //   if($(v).find('input').val() == '' || $(v).find('input').val() == null){
      //     isReturn = true;
      //     return false;
      //   }
      // })

      // if(isReturn == true){
      //   layer.msg('请先完善前面的属性');
      //   return false;
      // } 

      lteParamHtml(_this);
  })

  $(document).on('click', '.delParam', function(){
    var _this = $(this)
    var len = _this.parents('.add-box-item-th').children('.add-box-item-th-item').length
    
    if(len <= 1){
      layer.msg('当前参数至少保留1个属性');
      return false;
    }
    _this.parent('.add-box-item-th-item').remove()

    let json_data = paramJson();

    let _table = tableHtml(json_data);
    $('.table-box').html(_table)
  })

  $(document).on('blur', '.attr_input', function(){
    if($(this).val() == '' || $(this).val() == null){
      return false;
    }
    let f_value = $(this).parents('.add-box-item').children('.add-box-item-thead').children('input').val();
    
    if(f_value == '' || f_value == null){
      return false;
    }

    let json_data = paramJson();
    let _table = tableHtml(json_data);
    $('.table-box').html(_table)
  })

  /***********************/

  form.verify({
    poInt: function(value ,item){
      if($('input[name=post_type]:checked').val() == 2){
        if(value == '' || value == null){
          return '运费不能为空';
        }
        if(!(/^[1-9]+\d*$/.test(value))){
          return '运费只能为整数';
        }
      }
    }
  })

  form.on('radio(freightswt)', function(data){
    console.log(data)
    if(data.value == 2){
      $('.freight-line').show();
    }else{
      $('input[name=freight]').val('');
      $('.freight-line').hide();
    }
  })

  form.on('submit(save)', function(data){
    var field = data.field; //获取提交的字段
    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引  

    //提交 Ajax 成功后，关闭当前弹层并重载表格
    $.post($(data.elem).data('url'), data.field, function(res){
      if(res.code == 1){
        parent.layui.table.reload('udzan-rule'); //重载表格
        parent.layer.close(index); //再执行关闭 
      }else{
        layer.msg(res.result, {icon: 5});
      }
    },'json');
  });

});
</script>
{/block}