{extend name="public/original" /}
{block name="title"}订单发货{/block}
{block name="content"}
<div class="layui-form" lay-filter="layuiadmin-form-admin" id="layuiadmin-form-admin" style="padding: 20px 30px 0 0;">
    <div class="layui-form-item">
      <label class="layui-form-label">物流公司</label>
      <div class="layui-input-inline">
        <input type="text" name="express_company" lay-verType="tips" lay-verify="required" placeholder="请输入物流公司" autocomplete="off" class="layui-input" value="">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">运单编号</label>
      <div class="layui-input-inline">
        <input type="text" name="express_code" lay-verType="tips" lay-verify="required" placeholder="请输入运单号" autocomplete="off" class="layui-input" value="">
      </div>
    </div>
    <div class="layui-form-item layui-hide">
      <input type="button" lay-submit lay-filter="asuma-admin-submit" id="asuma-admin-submit" value="确认">
    </div>
</div>
{/block}
{block name="footjs"}
<script type="text/javascript">
  layui.use(['form'], function(){
  var form = layui.form
})
</script>
{/block}