{extend name="public/base" /}
{block name="title"}udzanPro - 基于layuiAdmin的通用后台管理系统{/block}
{block name="content"}
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-body">
            企业服务通用管理平台
            <!-- <img src="__IMAGE__/szcz.JPG" style="width: 30%;height: auto;"> -->
          </div>
        </div>
      </div>
      <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-header">当前环境</div>
          <div class="layui-card-body layui-text">
            <table class="layui-table">
              <colgroup>
                <col width="100">
                <col>
                <col width="100">
                <col>
              </colgroup>
              <tbody>
                <tr>
                  <td>当前浏览器</td>
                  <td colspan="4">
                    <?php $browser = get_user_browser(); $msg=''; if ($browser != 'Firefox' && $browser != 'Chrome'){ $msg = '<span style="color: red;">当前浏览器可能不兼容，推荐使用火狐浏览器</span>';} echo $browser.' '.$msg; ?>
                  </td>
                </tr>
                <tr>
                  <td>系统环境</td>
                  <td colspan="4">
                    <?php $os = explode(" ", php_uname()); echo $os[0];?> &nbsp;内核版本：<?php if('/'==DIRECTORY_SEPARATOR){echo $os[2];}else{echo $os[1];} ?>
                  </td>
                </tr>
                <tr>
                  <td>运行环境</td>
                  <td colspan="4">
                    PHP {:PHP_VERSION}
                 </td>
                </tr>
                <tr>
                  <td>服务器解译引擎</td>
                  <td colspan="4">
                    {:request()->server('SERVER_SOFTWARE')}
                 </td>
                </tr>
                <tr>
                  <td>总空间</td>
                  <td><?php echo round(@disk_total_space(".")/(1024*1024*1024),3);?>&nbsp;GB</td>
                  <td>剩余空间</td>
                  <td><?php echo round(@disk_free_space(".")/(1024*1024*1024),3);?>&nbsp;GB</td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
      </div>
    </div>
{/block}