<div id="nav">
    <a href="#" class="bot-a">
        <div class="bot">
            <img src="__MOD__/shop/images/shangchengb.png" alt />
            <div class="fs10 cl33 clbb">商城</div>
        </div>
    </a>
    <a href="#" class="bot-a">
        <div class="bot">
            <img src="__MOD__/shop/images/fenlei.png" alt />
            <div class="fs10 cl33">分类</div>
        </div>
    </a>
     <a href="#" class="bot-a">
        <div class="bot">
            <img src="__MOD__/shop/images/gouwuche.png" alt />
            <div class="fs10 cl33">购物车</div>
        </div>
    </a>
     <a href="#" class="bot-a">
        <div class="bot">
            <img src="__MOD__/shop/images/wode.png" alt />
            <div class="fs10 cl33">我的</div>
        </div>
    </a>
</div>