<div id="nav">
    <a href="/shop" class="bot-a">
        <div class="bot">
            {eq name="$Request.controller.'/'.$Request.action" value="Index/index"}
            <img src="__MOD__/shop/images/shangchengb.png" alt />
            <div class="fs10 cl33 clbb">商城</div>
            {else /}
            <img src="__MOD__/shop/images/shangcheng.png" alt />
            <div class="fs10 cl33">商城</div>
            {/eq}
        </div>
    </a>
    <a href="{:url('Index/classify')}" class="bot-a">
        <div class="bot">
            {eq name="$Request.controller.'/'.$Request.action" value="Index/classify"}
            <img src="__MOD__/shop/images/fenleib.png" alt />
            <div class="fs10 cl33 clbb">分类</div>
            {else /}
            <img src="__MOD__/shop/images/fenlei.png" alt />
            <div class="fs10 cl33">分类</div>
            {/eq}
        </div>
    </a>
     <a href="{:url('Cart/index')}" class="bot-a">
        <div class="bot">
            {eq name="$Request.controller.'/'.$Request.action" value="Cart/index"}
            <img src="__MOD__/shop/images/gouwucheb.png" alt />
            <div class="fs10 cl33 clbb">购物车</div>
            {else /}
            <img src="__MOD__/shop/images/gouwuche.png" alt />
            <div class="fs10 cl33">购物车</div>
            {/eq}
        </div>
    </a>
     <a href="{:url('User/index')}" class="bot-a">
        <div class="bot">
            {eq name="$Request.controller.'/'.$Request.action" value="User/index"}
            <img src="__MOD__/shop/images/wodeb.png" alt />
            <div class="fs10 cl33 clbb">我的</div>
            {else /}
            <img src="__MOD__/shop/images/wode.png" alt />
            <div class="fs10 cl33">我的</div>
            {/eq}
        </div>
    </a>
</div>