{extend name="public/base" /}
{block name="css"}
<link rel="stylesheet" type="text/css" href="__MOD__/admin/order/order.css">
{/block}
{block name="content"}
<div class="layui-form admin-editpwd admin-add-team order-assess" style="padding: 64px 46px 54px 46px;" >
    <div id="rate"></div>
    <div class="receiver_assess">{$info.content}</div>
    <div class="layui-form-item layui-form-text">
        <label class="search-wrap-label" name="reply">商家回复</label>
        <div class=" form-textarea">
            <textarea placeholder="请输入回复内容，最多不能超过200字" class="layui-textarea" name="recomment" ></textarea>
        </div>
    </div>
     <div class="layui-form-item layui-hide">
        <input type="hidden" name="id" value="{$info.id}">
        <input type="hidden" name="{:config('this.form_token')}" value="{$Request.token}" />
        <input type="button" lay-submit lay-filter="submit" id="submit" value="确认">
    </div>
</div>
{/block}
{block name="footjs"}
<script>
$(function () {
    var no = window.localStorage.getItem("order_no");
    var stars = "{$info.stars}";
    layui.config({
        base: "js/"
    }).use(['rate', 'layer','form'], function () {
        var rate = layui.rate,
        form = layui.form;
        layer = parent.layer === undefined ? layui.layer : parent.layer,
            //回填数据
        //渲染评分
        
        console.log(stars);
        rate.render({
            elem: '#rate',
            value:stars,
            half:true,
            readonly:true,
            setText:function (value) {
                var arrs = {
                    '1': '极差'
                    ,'2': '差'
                    ,'3': '中等'
                    ,'4': '好'
                    ,'5': '极好'
                };
                this.span.text(arrs[value] || ( value + "星"));
            }
        });
           
          //监听提交
    form.on('submit(submit)', function(data){
      var field = data.field; //获取提交的字段
      var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引  
 
      //提交 Ajax 成功后，关闭当前弹层并重载表格
      $.post("{:url('recomment')}", data.field, function(res){
        if(res.code == 1){
          parent.layer.msg('评论成功');
          parent.layer.close(index); //再执行关闭 
        }else{
          layer.msg(res.result, {icon: 5});
        }
      },'json');
    });

    })
})

</script>
{/block}