{extend name="public/base" /}
{block name="css"}
<link rel="stylesheet" type="text/css" href="__MOD__/admin/order/order.css">
{/block}
{block name="content"}
<div class="admin-editpwd admin-add-team" style="padding: 64px 92px 54px 34px;">
    <ul class="layui-timeline">
        <li class="layui-timeline-item">
            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
            <div class="layui-timeline-content layui-text">
                <h3 class="layui-timeline-title">{:date('m月d日 H:i:s',$info['create_time'])}</h3>
                <p>
                    订单生成
                </p>
            </div>
        </li>
        {if $info.pay_time}
        <li class="layui-timeline-item">
            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
            <div class="layui-timeline-content layui-text">
                <h3 class="layui-timeline-title">{:date('m月d日 H:i:s',$info['pay_time'])}</h3>
                <p>
                    已支付
                </p>
            </div>
        </li>
        {/if}
        {if $info.delivery_time}
        <li class="layui-timeline-item">
            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
            <div class="layui-timeline-content layui-text">
                <h3 class="layui-timeline-title">{:date('m月d日 H:i:s',$info['delivery_time'])}</h3>
                <p>
                    已发货
                </p>
            </div>
        </li>
        {/if}
        {if $info.complete_time}
        <li class="layui-timeline-item">
            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
            <div class="layui-timeline-content layui-text">
                <h3 class="layui-timeline-title">{:date('m月d日 H:i:s',$info['complete_time'])}</h3>
                <p>
                    确认收货
                </p>
            </div>
        </li>
        {/if}
        {if $info.order_status eq 5}
        <li class="layui-timeline-item">
            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
            <div class="layui-timeline-content layui-text">
                <div class="layui-timeline-title">退款中</div>
            </div>
        </li>
         {/if}
        {if $info.order_status gt 2}
        <li class="layui-timeline-item">
            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
            <div class="layui-timeline-content layui-text">
                <div class="layui-timeline-title">订单已完成</div>
            </div>
        </li>
         {/if}
    </ul>

</div>
{/block}